@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/*http://rqrwd.com*/

html {
    background-image: url(background.jpg);
    background-attachment: fixed;
    font-family: 'Architects Daughter', cursive;
    }

body {
    height: 110%;
    width: 50%;
    padding: 0;
    margin: auto;
    background-color: darkorange;
}

header {
    padding-top: 1.8%; 
    margin-bottom: 20%;
    height: 200px;
    
    }

#carticon {
    padding: 0.90% 1.19%;
    float: right;
    display: inline;   
}

#logo {
    padding-left: 0.6%;
    float: left;
    width: 20.47%;
}

.dropdown {
    visibility: hidden;
}

/*Navigation Bar*/
ul  {
  display: inline-block;
  float: right;
  padding-left: 0;
  padding-right: 0; 
  margin-top: 1%;    
  width:  78%;
  border: 2px solid black;  
  border-radius: 10px ;
  background-image: -webkit-linear-gradient(top, #f296e4, #7c87de);
  background-image: -moz-linear-gradient(top, #f296e4, #7c87de);
  background-image: -o-linear-gradient(top, #f296e4, #7c87de);
  background-image: linear-gradient(to bottom, #f296e4, #7c87de);
  color: white;
    visibility: visible;
} 
    
li {
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 3% 0%;
    width: 33.33%;
    border: 1px solid black;  
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #fc7de9, #7c87de);
    background-image: -moz-linear-gradient(top, #fc7de9, #7c87de);
    background-image: -o-linear-gradient(top, #fc7de9, #7c87de);
    background-image: linear-gradient(to bottom, #fc7de9, #7c87de); 
}

li a {
    color: white;
    text-decoration: none;
    padding: 5% 10%; 
        
}

.links:hover {
  background-image: -webkit-linear-gradient(top, #7c87de, #f296e4);
  background-image: -moz-linear-gradient(top, #7c87de, #f296e4);
  background-image: -o-linear-gradient(top, #7c87de, #f296e4);
  background-image: linear-gradient(to bottom, #7c87de, #f296e4);
  
}

.activepg {
  background-image: -webkit-linear-gradient(top, #fec6f8, #7c87de);
  background-image: -moz-linear-gradient(top, #fec6f8, #7c87de);
  background-image: -o-linear-gradient(top, #fec6f8, #7c87de);
  background-image: linear-gradient(to bottom, #fec6f8, #7c87de);
} 



/*Slideshow*/
* {box-sizing:border-box}
.mySlides {
    display:none;
    border: 3px solid black;
    margin-top: -160px;
    margin-bottom: -1%;
    
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: white;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 0.2% 0.7%;
  margin-top: -2.8%;
  color: #20e5d9;
  font-weight: bold;
  font-size: 3.75em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 25px;
  width: 25px;
  margin: 20px 2px -10px 2px;
  background-color: #bbb;
  border: 2px outset white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #20e5d9;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 17.8%) {
  .prev, .next,.text {font-size: 11px}
}


/*Category images*/
.categories {
    display: inline;
    opacity: 0.85;
    width: 26%;
    height: 10%;
    margin: 0 11.5%;
    border: 1px solid black;
}

.categories:hover {
    opacity: 1;
    box-shadow:  4px 8px 25px rgba(0, 0, 0, 0.2);
}

footer  {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #a6ade6;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    height: 3%;
    
}

h2 {
    font: 40px solid black;
    font-family: 'Architects Daughter', cursive; 
    text-align: center;
    text-decoration: underline;
    }

#cushions {
    margin-top: -22%;
}

.browseimg {
    float: left;
    margin-right: 3%;
    border: 1px solid black;
    width: 60%;
}

.browseimg:hover {
    box-shadow:  4px 8px 25px rgba(0, 0, 0, 0.2);
}
.description {
    font-size: 1.4em;
    margin: 0 0 0 0;
    padding: 8% 0 0 0;
    height: 255px;
    
    
}

.browsedisp {
    margin: 0 0;
    margin: 0 0 30px 0;
}

#more {
    margin-top: 10%;
}

.acpg {
    font: 1.7em solid black;
    font-family: 'Architects Daughter', cursive; 
}

#aboutheader {
    margin: -20% 0 0 0;
}

.acinput1 {
    width: 47%;
    line-height: 62px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5625em;
    padding-left: 6px;
}

.acinput2 {
    float: right;
    width: 47%;
    line-height: 62px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5625em;
    padding-left: 6px;
}

.acinput3 {
    width: 100%;
    line-height: 62px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5625em;
    padding-left: 6px;
}

.message {
    width: 100%;
    height: 237px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5625em;
    font-family: sans-serif;
    padding-left: 6px;
    padding-top: 10px;
}

.submitbutton {
    font-size: 1.875em;
    font-family: 'Architects Daughter', cursive; 
    background-color: #20e5d9;
    border: 1px solid black;
    border-radius: 10px;
    width: 18%;
    padding: 1% 0;
    float: right;  
}

.catpages {
    border: 1px solid black;
}

.catpages:hover {
    box-shadow:  4px 8px 25px rgba(0, 0, 0, 0.2); 
    transform:scale(1.6,1.6);
	transform-origin:0 0;
}

.scroll {
    background-color: gray;
    color: aliceblue;
    font-size: 0.6875em;
    cursor: pointer;
    border-radius: 10px;
    border-width: 0px;
    width: 18%;
    padding: 10px 0;
    margin-right: 8px;
    
}

.scroll:hover {
    background-color: gray;
    color: #20e5d9;
    cursor: pointer;
    border-radius: 10px;
    border-width: 0px;
    
}

.addtocart {
    float: right;
    background-color: gray;
    color: aliceblue;
    font-size: 0.6875em;
    cursor: pointer;
    border-radius: 10px;
    border-width: 0px;
    width: 13.8%;
    padding: 10px 0;
    margin-right: 8px;
    
}

.cat:hover {
    border-color: aqua;
}

.dropdown2 {
    visibility: hidden;
}


/*





*/
  
/*Decreased screen 1 (fixing nav size and categories*/
@media screen and (min-width: 1077px) and (max-width: 1261px){
    
    body {
        background-color: blue;
        height: 100%;
        width: 50%;
    }
    
    header {
        height: 200px
    }
        
    ul  {
  width:  78%;
} 
    
li {
    padding: 3% 0%;
    width: 33.3%;
    font-size: 13px;
   }

    .dot {
        margin-top: 18px;
  height: 23px;
  width: 23px;
    }
    
    /*Category images*/
.categories {
    width: 26%;
    margin: 0 11.6%;
    
}

.categoriesframe {
    margin: 0 
}
    
    footer {
        font-family: 'Slabo 23px', serif;
        width: 100%;
        font-size: 1.3em;
    }    
    
    h2 {
        margin-top: -5%;
    }
    
    .scroll {
    width: 20%;    
}
    .browseimg {
    width: 55%;
}

.description {
    font-size: 1.2em;
    padding: 6% 0 0 0;
    height: 130px;
}

.browsedisp {
    margin: 0 0 100px 0;
}
    
    #aboutheader {
        margin-top: -25%
    }
    
    .acpg {
    font: 1.4em solid black;
    font-family: 'Architects Daughter', cursive; 
}
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.4em;
        padding-left: 1%;
}
    
    .submitbutton {
    font-size: 1.6em;  
}
    
}
/*Decreased screen 2 (Nav) */
@media screen and (min-width: 971px) and (max-width: 1076px) {
    
    body {
        background-color: greenyellow;
        width: 55%;
    }
      
    li {
        font-size: 11px;
}
    
.categories {
    width: 30%;
    margin: .6% 0 0 13%;
    
}
    .mySlides {
        margin-top: -160px;
    }
    .dot {
        
    }
    footer {
        width: 100%;
        font-size: 1em;
    }
    
    #cushions {
        margin-top: -15%;
    }
    
    .scroll {
    width: 20%;
    }
    
    .browseimg {
    width: 55%;
}

.description {
    font-size: 1.2em;
    padding: 6% 0 0 0;
    height: 130px;
}

.browsedisp {
    margin: 0 0 100px 0;
}
    
    #aboutheader {
        margin-top: -25%
    }
    
    footer {
        font-size: 1.2em;
    }
    
}

@media screen and (min-width: 801px) and (max-width: 970px) {
    
    body {
        background-color: darkviolet;
        width: 60%;
    }
    
    #carticon {
        width: 68px;
        height: 38px;
        
    }
    header {
        margin-bottom: 0;
    }
    ul  {
  width:  79%;
} 
    
li {
    width: 33.3%;
    font-size: 10px;
    margin-bottom: 0;
   }

    .mySlides {
    display:none;
    border: 3px solid black;
    margin-top: -60px;
    margin-bottom: -25px;
    
}
    .dot {
        width: 20px;
        height: 20px;
    }
    .categories {
    width: 36%;
    margin: .6% 0 0 9%;
}
    .categoriesframe {
        margin-bottom: 4%;
    }
    
    footer {
        font-size: 1em;
    }
        
    h2 {
        margin-top: 0;
        font-size: 2.4em;
    }
    
    #cushions {
        margin-top: 0;
    }
    
    .scroll {
        width: 28%;
        margin: 0 2.5%;
    }
    
    .browseimg {
    width: 55%;
}

.description {
    font-size: 1.1em;
    padding: 5% 0 0 0;
    height: 70px;
}

.browsedisp {
    margin: 0 0 130px 0;
}
    
     #aboutheader {
        margin-top: -10%
    }
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.4em;
        padding-left: 1%;
}
    
    .submitbutton {
    font-size: 1.6em;  
}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    
    body {
        background-color: aqua;
        width: 68%;
    }
    
    ul  {
  width:  79%;
        } 
    
    li {
    width: 33.3%;
    font-size: 10.1px;
    margin-bottom: 0;
   }
    
    .mySlides {
    margin-top: -160px;
        }
    
    .categories {
        width: 40%;
        margin: 0.2% 4%;
    }
    
    .categoriesframe {
        margin: 0 0;
    }
    
    footer {
        width: 100%;
        font-size: 1em;
    }
    
    #cushions {
        margin-top: -12%;
        font-size: 2.4em;
    }
    
    h2 {
        margin-top: 0;
    }
    
    .scroll {
        width: 27%;
        margin: 0 3.15%; 
    }
        
     .browseimg {
    width: 55%;
}

.description {
    font-size: 0.9em;
    padding: 5% 0 0 0;
    height: 70px;
}

.browsedisp {
    margin: 0 0 130px 0;
}
    #aboutheader {
        margin-top: -35%;
        font-size: 1.8em
    }
    
    .acpg {
        font-size: 1.3em;
    }
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.4em;
        padding-left: 1%;
}
    
    .submitbutton {
    font-size: 1.6em;  
}
    
}

@media screen and (min-width: 548px) and (max-width: 600px) {
    
    body {
        background-color: yellow;
        width: 100%;
    }
    
    header {
        margin-bottom: 0;
    }
    
    ul {
        visibility: hidden;
        margin: 0;
    }
        
    #logo {
        margin: 0 0 0 8px;
    }
    
.dropbtn {
    background-color: #dcc0ec;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #dfb2f9;
}

.dropdown {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -22%;
    margin-right: 22%;
    margin-bottom: 0;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 370px;
    background-image: -webkit-linear-gradient(top, #f296e4, #7c87de);
  background-image: -moz-linear-gradient(top, #f296e4, #7c87de);
  background-image: -o-linear-gradient(top, #f296e4, #7c87de);
  background-image: linear-gradient(to bottom, #f296e4, #7c87de);
    border-radius: 10px;
    border: 1px solid black;
}
    
.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.bar {
    width: 3.4em;
    height: 0.5em;
    margin: 10% 0;
    border-radius: 10px;
    border: 1px solid black;
    background-image: -webkit-linear-gradient(top, #d1d2d2, #919190);
  background-image: -moz-linear-gradient(top, #d1d2d2, #919190);
  background-image: -o-linear-gradient(top, #d1d2d2, #919190);
  background-image: linear-gradient(to bottom, #d1d2d2, #919190);
}

.mySlides {
    margin-top: -30px;
}
    .categories {
        width: 40%;
        margin: 0 4.5%;
    }
    
    .categoriesframe {
        margin: 2% 0;
    }
    
    #cushions {
        margin-top: 0;
    }
    
    .scroll {
        width: 20%;
        margin: 0 6.6%;
    }
    
    .description {
        font-size: 1.2em;
        
    }
    
    .browsedisp {
    margin: -2% 0;
        padding: 0 2%;
}
    
    #aboutheader {
        margin-top: -10%;
        font-size: 2.2em
    }
    
    .acpg {
        font-size: 1.3em;
        padding: 0 1%;
    }
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.4em;
        padding-left: 1%;
}
    
    .submitbutton {
    font-size: 1.6em;  
}
    
    form {
        padding: 0 2%;
    }
    
    .dropdown2 {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -18%;
    margin-right: 22%;
    margin-bottom: 0;
    
}
    
    
    
    

}

@media screen and (min-width: 470px) and (max-width: 547px) {
    
    body {
        background-color: teal;
        width: 100%;
    }
    
    #carticon {
        margin-right: 20px;
    }
    
    #logo {
        width: 22%;
    }
    ul {
        visibility: hidden;
    }
    
    .categories {
       position: relative;
        display: block;
        width: 50%;
        margin: 5px 0;
    }
    
    .categoriesframe {
        margin: 0 0;
    }
    
    .category {
        width: 50%;
    }
    
    .dropbtn {
    background-color: #dcc0ec;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #dfb2f9;
}

.dropdown {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -27%;
    margin-right: 20%;
    width: 100px;
    padding: 0 20px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 350px;
    background-image: -webkit-linear-gradient(top, #f296e4, #7c87de);
  background-image: -moz-linear-gradient(top, #f296e4, #7c87de);
  background-image: -o-linear-gradient(top, #f296e4, #7c87de);
  background-image: linear-gradient(to bottom, #f296e4, #7c87de);
    border-radius: 10px;
    border: 1px solid black;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.bar {
    width: 45px;
    height: 7px;
    margin: 5px 0;
    border-radius: 10px;
    border: 1px solid black;
    background-image: -webkit-linear-gradient(top, #d1d2d2, #919190);
  background-image: -moz-linear-gradient(top, #d1d2d2, #919190);
  background-image: -o-linear-gradient(top, #d1d2d2, #919190);
  background-image: linear-gradient(to bottom, #d1d2d2, #919190);
}
    
    .categories {
        width: 65%;
        margin: 5% 18%;
        height: 20%;
    }
    
    #cushions {
        margin-top: -12%;
        font-size: 2.4em;
    }
    
    .scroll {
        width: 25%;
        margin: 0 4%;
    }

 .description {
        font-size: 1em;
     padding-right: 2%;
    }
    
    .browsedisp {
    margin: -3% 0;
        padding: 0 2%;
}
    
    .browseimg {
        width: 55%;
    }
    
    h2 {
        margin-top: -15%;
    }
    
    #aboutheader {
        margin-top: -30%;
        font-size: 1.8em
    }
    
    .acpg {
        font-size: 1.4em;
        padding: 0 2%;
    }
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.4em;
        padding-left: 1%;
}
    
    .submitbutton {
    font-size: 1.6em;  
}
    
    .dropdown2 {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -24%;
    margin-right: 26%;
}
    
    form {
        padding: 0 2%;
    }

}
@media screen and (min-width: 391px) and (max-width: 470px) {
 
    body {
        background-color: darkgrey;
        width: 100%;
    }
    
    #carticon {
        width: 18%;
        padding-right: 2%;
    }
    
    #logo {
        width: 28%;
    }
    
    ul {
        visibility: hidden;
        margin: 0;
    }
    
    header {
        margin-bottom: 0;
    }
    .mySlides {
        margin: -60% 0 0 0;
    }
    
    /* Slideshow container */
.slideshow-container {
    position: relative;
    background-color: white;
    margin: 60% 0 0 0;
    }
    
    .dot {
        width: 20px;
        height: 20px;
        margin-top: 0;
    }
    
    .next, .prev {
        top: 35%;
        padding: 0 2%;
        font-size: 3.5em;
    }
    
    .next {
        padding-right: 3%;
    }
    
    .dropbtn {
    background-color: #dcc0ec;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #dfb2f9;
}

.dropdown {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -40%;
    margin-right: 20%;
    }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 280px;
    background-image: -webkit-linear-gradient(top, #f296e4, #7c87de);
  background-image: -moz-linear-gradient(top, #f296e4, #7c87de);
  background-image: -o-linear-gradient(top, #f296e4, #7c87de);
  background-image: linear-gradient(to bottom, #f296e4, #7c87de);
    border-radius: 10px;
    border: 1px solid black;
    
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.bar {
    width: 45px;
    height: 6px;
    margin: 5px 0;
    border-radius: 12px;
    border: 1px solid black;
    background-image: -webkit-linear-gradient(top, #d1d2d2, #919190);
  background-image: -moz-linear-gradient(top, #d1d2d2, #919190);
  background-image: -o-linear-gradient(top, #d1d2d2, #919190);
  background-image: linear-gradient(to bottom, #d1d2d2, #919190);
}
    
    .categories {
        width: 70%;
        margin: 3% 16%;
        height: 40%
    }
    
    #cushions {
        margin-top: 0%;
    }
    
    .scroll {
        width: 31%;
        font-size: 0.6em;
        margin: 0 1.1%;
    }
    
     .browseimg {
    width: 85%;
         margin: 2% 7%;
    }

.description {
    font-size: 1em;
    margin: 0 7% 0 4%;
    padding: 8% 0.8% 0 5%;
    height: 215px;
    
}

.browsedisp {
    margin: 0 0;
    margin: 0 0 100px 0;
}    
    
    footer {
        font-size: 1.2em;
    }
    
    #aboutheader {
        margin-top: -4%;
        font-size: 1.8em
    }
    
    .acpg {
        font-size: 1.4em;
    }
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.3em;
        padding-left: 2%;
        margin: 0 0;
}
    
    .submitbutton {
    font-size: 1.2em;
        width: 25%;
}
    
    .dropdown2 {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -39%;
    margin-right: 22%;
}
    
    form {
        padding: 0 2%;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 390px) {
    
    body {
        background-color: darkmagenta;
        width: 100%;
    }
    #carticon {
        width: 25%;
    }
    #logo {
        width: 30%;
        padding-left: 7px;
        
    }
    
    ul {
        visibility: hidden;
    }
    
    .dropbtn {
    background-color: #dcc0ec;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #dfb2f9;
}

.dropdown {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -48%;
    margin-right: 25%;
    }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 200px;
    background-image: -webkit-linear-gradient(top, #f296e4, #7c87de);
  background-image: -moz-linear-gradient(top, #f296e4, #7c87de);
  background-image: -o-linear-gradient(top, #f296e4, #7c87de);
  background-image: linear-gradient(to bottom, #f296e4, #7c87de);
    border-radius: 10px;
    border: 1px solid black;
    
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.bar {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    border-radius: 12px;
    border: 1px solid black;
    background-image: -webkit-linear-gradient(top, #d1d2d2, #919190);
  background-image: -moz-linear-gradient(top, #d1d2d2, #919190);
  background-image: -o-linear-gradient(top, #d1d2d2, #919190);
  background-image: linear-gradient(to bottom, #d1d2d2, #919190);
}
    
    .categories {
        width: 70%;
        margin: 3% 16%;
        height: 40%
    }
    
    
    h2 {
        margin-top: -5%;
    }
    
    #cushions {
        margin-top: -32%;
    }
    
    .scroll {
        width: 31%;
        font-size: 0.55em;
        margin: 0 1.1%;
    }
    
    
    
   .browseimg {
    width: 85%;
         margin: 3% 7%;
    }

.description {
    font-size: 1em;
    margin: 0 7% 0 4%;
    padding: 8% 1% 0 5%;
    height: 215px;
    
}

.browsedisp {
    margin: 0 0 80px 0;
}    
   
    footer {
        font-size: 1.2em;
    }
    
    #aboutheader {
        font-size: 1.6em
    }
    
    .acpg {
        font-size: 1.4em;
        padding: 0 2%;
    }
    
    .acinput1, .acinput2, .acinput3, .message  {
    font-size: 1.2em;
        padding-left: 3%;
        margin: 0 0;
        height: 60px;
}
    .message {
        height: 150px;
    }
    
    .submitbutton {
    font-size: 1.2em; 
        width: 35%;
    padding: 3% 0;
}
    
    .dropdown2 {
    position: relative;
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: -51%;
    margin-right: 25%;
}
    
    form {
        padding: 0 2%;
    }
    
}

